body {
    text-align: center;
    font-family: 'Pacifico', cursive;
    background-image: url("../images/beer_foam_background_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

main,
.new-brew-div {
    padding: 1em;
    background: rgba(175, 174, 174, 0.75);
    border-radius: 2em;
}

h3,
h1 {
    font-family: 'Pacifico', cursive;
}

p,
a {
    font-family: 'Montserrat', sans-serif;;
    font-weight: bolder;
}

main {
    width: 50%;
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

#data-div {
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.new-brew-div {
    margin-bottom: 5%;
}